<!--<footer class="navbar navbar-inverse navbar-fixed-bottom row-fluid">-->
  <!--<span>All rights reserved &copy 2017</span>-->
<!--</footer>-->

<div class="footer-bottom navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          © 2017, All rights reserved
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
          <a href="#">Selain </a> |  <a target="_blank" href="https://vk.com/id106064313">Development by Denis Lapkovski</a>
        </div>
      </div>
    </div>
  </div>
</div>